#filterCont {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#filterSelect{ 
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    background-color: #202324;
    color: #FFFFFF;
}

#postsCont {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
}

#loadingCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
