*{
    margin: 0;
    padding: 0;
}

#mainCont{
    position: absolute;
    background-color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
}

#postsCont{
    margin-left: 70px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}