#headerCont{
    position: fixed;
    background-color: #202324;
    height: 100%;
    width: 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#headerLogo{
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerLogo p{
    font-size: 48px;
}

.headerLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
}

.headerLink:hover{
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}

.headerLink img{
    width: 60px;
    height: 60px;
}

#headerProfileLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
}

#headerProfileLink:hover{
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}

#headerProfileLink img{
    width: 60px;
    height: 60px;
}