*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI';
    text-decoration: none;
}

.postCont{
    width: 240px;
    height: min-content;
    background-color: #202324;
    border-radius: 25px;
    margin: 10px;
}

.postImgCont img{
    width: 240px;
    height: 240px;
    border-radius: 25px;
    object-fit: cover;
}

.postDesc{
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
}

.postDesc h3{
    width: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.postLikes button{
    width: 25px;
    height: 25px;
    border: 2px solid rgb(8, 8, 8);
    background-color: rgb(8, 8, 8);
    border-radius: 25px;
}
