#loadingCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postPageCont {
    width: 600px;
    gap: 25px;
}

#postPageAuthor, #postPageDesc {
    color: #FFFFFF;
}

#postPageImg {
    border-radius: 25px;
    width: 600px;
}

