#loadingCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#postPageCont {
    width: 600px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

#postPageAuthor, #postPageDesc {
    color: #FFFFFF;
}

#postPageImg {
    border-radius: 25px;
    width: 600px;
}

#error {
    color: #FFFFFF;
}

#postLikes {
    display: flex;
    align-items: center;
    gap: 5px;
}

#postLikes p{
    color: white;
    text-align: center;
}

#postLikeButton{
    width: 25px;
    height: 25px;
    border: 2px solid #202324;
    background-color: #202324;
    border-radius: 25px;
}